/* universal styles */

body {
  font-family: Arial;
  font-size: 12px;
  color: gray;
  background-color: lightgray;
  text-align: center;
  width: 100%;
}

/* header */

header {
 background-color: white;
 width: 100%;
 display: inline-flex;
 height: 64px;
 margin: -15px;
 margin-left: -30px;
}

.logo {
  float: left;
  padding-left: 24px;
  display: inline-flex;
}

.name {
  float: left;
  text-transform: uppercase;
  display: inline-flex;
  padding-right: 1250px;
}

.name h4 {
  color: black;
  font-size: 14px;
  font-weight: 1000;
  height: 32px;
}


.name h5 {
  color: gray;
  font-size: 14px;
}

.menu li {
  display: inline-block;
  list-style: none;
  float: left;
  padding: 16px;
}

.menu li a {
  text-decoration: none;
  color: gray;
}

/* Hero Banner */

.hero-banner {
  text-align: left;
}

.hero-image {
  width: 60%;
  height: auto;
  padding: 32px 24px;
  display: inline-flex;
  float: left;
}

.new {
  display: inline-block;
  padding-top: 400px;
  font-size: 40px;
  width: 40%;
}

.start-button {
  padding-bottom: 32px;
}

/* Main Information */

.main-content {
  background-color: white;
  display: inline-flex;
  float: left;
}

.information img {
  float: left;
  width: 60%;
  height: auto;
  padding: 32px 24px;
}

.information hgroup {
  float: left;
  width: 60%;
  height: auto;
  padding-left: 24px;
  text-align: left;
}

.information h2 {
  font-size: 50px;
}

.information p {
  font-size: 24px;
}

.information h4 {
  font-size: 16px;
}

.main {
  display: inline-block;
  width: 40%;
  padding-top: 24px;
  float: left;
}

.main img {
  display: inline-block;
  float: left;

}

.main ul {
  list-style: none;
  text-align: left;

}

/* courses section */

.learning {
  font-size: 50px;
  display: inline-block;
  padding-top: 32px;
}

.courses {
  width: 100%;
  height: auto;
  display: inline-flex;
  flex-wrap: wrap;
  padding-left: 72px;
}

.software, .computer, .design, .data, .business, .marketing {
  margin: 16px 16px 16px 24px;
  background-color: white;
  text-align: left;

}

.courses h3 {
  font-size: 32px;
  margin-left: 16px;
}

.courses p {
  font-size: 16px;
  margin-left: 16px;
}

.software {

}

/* Thesis Section */

#thesis {
  width: 100%;
  height: auto;
  background-color: white;
}


.left {
  float: left;
  width: 60%;
}

.right {
  float: left;
  width: 40%;
  display: block;
}

/* footer */

.footer {
  display: inline-flex;
  float: left;
}

.footer li {
  list-style: none;
  float: left;
}

.footer li a {
  float: right;
}
