/* universal styles */

html {
  font-family: Arial;
  font-size: 12px;
  color: gray;
  background-color: #DCDFE0;
  text-align: center;
  width: 100%;
  align-self: auto;
  margin: 0 auto;
}

/* header */

header {
 background-color: white;
 width: 100%;
 display: inline-flex;
 flex-direction: row;
 z-index: 5;
 height: 64px;
 margin: -15px;
 margin-left: -30px;
}

.logo {
  float: left;
  margin-left: 24px;
  display: inline-flex;
}

.name {
  float: left;
  text-transform: uppercase;
  display: inline-flex;
  padding-right: 1200px;
  margin-top: 1px;
  font-size: 18px;
}

.name strong {
  color: #494949;
  font-size: 18px;
  font-weight: 1000;
  height: 32px;
  align-self: center;
  padding-right: 1.5px;
}


.menu li {
  display: inline-block;
  list-style: none;
  float: left;
  padding-left: 16px;
  align-items: center;
  padding-top: 14px;
}

.menu li a {
  text-decoration: none;
  color: gray;
  font-size: 16px;
  align-self: center;
}

@media only screen and (max-width: 800px) {
  .menu li, .name {
    display: none;
  }

  .logo { /* Not working */
    display: flex;
    justify-content: space-around;
  }

  .mobile {
    display: flex;
  }
}

/* Hero Banner */

.hero-banner {
  display: inline-flex;
  float: left;
  width: 100%;
}

.hero-image {
  width: 100%;
  height: auto;
  padding: 32px 24px;
  display: inline-flex;
  float: left;
  margin-right: 24px;
}

.hero-image img {
  width: 123%;
  height: auto;

}

.new {
  align-self: center;
  width: 100%;

}
.new hgroup {
  display: inline-block;
  align-self: center;
  text-align: left;
  font-size: 45px;
  width: 75%;
  margin-right: 24px;
  margin-left: 200px;
}

.new p {
  font-size: 30px;
  padding-bottom: 24px;
  line-height: 32px;
  text-align: left;
}

.button {
  display: block;
  overflow: hidden;
  margin-right: 24px;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.3);
  width: 80%;
  height: auto;
  line-height: 75px;
  background-color: #494949;
  color: #fff;
  text-align: center;
  text-decoration: none;
  float: left;
  font-size: 24px;
  padding: 8px;
}

@media only screen and (max-width: 800px) {
  .banner img, .banner-text {
    width: 100%;
    padding: 0;
    margin: 0;
  }

  .banner {
    flex-direction: column;
    text-align: center;
  }

  .banner button {
    align-self: center;
  }

  .banner-text {
    padding: 32px 16px;
  }
}


/* Main Information */

.main-content {
  display: inline-flex;
  width: 100%;
  height: auto;
  background-color: white;
}

.information {
  width: 60%;
  height: auto;
  margin-right: 24px;
}

.information img {
  width: 100%;
  height: auto;
  padding: 32px 24px;
  float: left;
  margin-right: 24px;
}

.information hgroup {
  float: left;
  width: 100%;
  height: auto;
  padding-left: 24px;
  text-align: left;
}

.information h2 {
  font-size: 45px;
  display: inline;
  color: #494949;
}

.information p {
  font-size: 24px;
}

.information h4 {
  font-size: 16px;
}

.sidebar {
  width: 40%;
  height: auto;
  display: inline-block;
}

.orientation, .campus, .lecture {
  float: left;
  width: 100%;
  height: auto;
  display: inline-flex;
  padding-left: 24px;
  margin-left: 24px;
  margin-top: 32px;
}

.orientation-img, .campus-img, .lecture-img {
  float: left;
}

.orientation-ul, .campus-ul, .lecture-ul {
  text-align: left;
  margin-left: 24px;
  margin-top: 24px;
}

.lecture-img {
  margin-bottom: 32px;
}

.sidebar h3 {
  font-size: 32px;
  color: #494949;
}

.sidebar p {
  font-size: 24px;
}

.sidebar a {
  font-size: 24px;
  text-decoration: none;
  color: #077ABC;
}

.lecture-ul p {
  line-height: 2px;
}

@media only screen and (max-width: 800px) {
  .on-campus-desktop {
    display: none;
  }

  .sidebar { /* needs to override container... */
    width: 500000%;   /* Doesn't make sense */
    align-self: center;
  }

  .orientation, .campus, .lecture {
    flex-direction: column;
    border: none;
    justify-content: center;
  }

  .orientation-img, .campus-img, .lecture-img {
    width: 100%;
    max-width: 600px;
  }

  .sidebar h3, .sidebar p, .sidebar a{
    display: block flex;
    flex-direction: column;
    padding: 0 32px;
  }
}

@media only screen and (max-width: 1000px) and (min-width: 801px) {
  .orientation-img, .campus-img, .lecture-img{ /* needs to override container... */
    display: none;
  }

  .sidebar h3, .sidebar p, .sidebar a {
    padding: 16px;
  }
}


/* courses section */

.learning {
  font-size: 50px;
  display: inline-block;
  padding-top: 32px;
  color: #494949;
}

.courses {
  width: 100%;
  height: auto;
  display: inline-flex;
  flex-wrap: wrap;
  padding-left: 72px;
}

.software, .computer, .design, .data, .business, .marketing {
  margin: 16px 16px 16px 24px;
  background-color: white;
  text-align: left;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.3);
}

.courses h3 {
  font-size: 32px;
  margin-left: 16px;
  color: #494949;
}

.courses p {
  font-size: 16px;
  margin-left: 16px;
  line-height: 5px;
  padding-bottom: 12px;
}

@media only screen and (max-width: 800px) {
  .courses, .learning {
    background-color: #494949;
    border-top: 1px solid #494949;
    border-bottom:1px solid #494949;
    color: white;
    padding: 24px;
  }
  .software, .computer, .design, .data, .business, .marketing {
    width: 95%;
    background-color: #494949;
    color: inherit;
  }

  .courses img, .courses h3, .courses p {
    display: none;
  }

  .courses h3 {
    text-align: center;
    color: white;
  }
}


/* Thesis Section */

.thesis-heading {
  background-color: white;
  padding-top: 24px;
  padding-bottom: 24px;
  margin-bottom: -12px;
  font-size: 32px;
  color: #494949;
  margin-top: 32px;
}

.thesis {
  background-color: white;
  display: inline-flex;
  float: left;
}

.left {
  width: 60%;
  height: auto;
  margin-right: 24px;
}

.left video {
  width: 100%;
  height: auto;
  padding: 32px 24px;
  float: left;
  margin-right: 24px;
}

.left-h {
  float: left;
  width: 100%;
  height: auto;
  text-align: left;
  padding-left: 24px;
}

.left h3 {
  font-size: 52px;
  display: inline;
  color: #494949;
  text-align: left;
}

.left p {
  font-size: 24px;
  line-height: 28px;
  padding-bottom: 32px;
}

@media only screen and (max-width: 800px) {
  .thesis, .left video, .left-h {
    display: none;
    }
  }

.right {
  width: 40%;
  height: auto;
  display: inline-block;
}

.fisma, .now {
  float: left;
  width: 90%;
  height: auto;
  display: inline-flex;
  margin-left: 24px;
}

.fisma {
  background-color: #DCDFE0;
  margin-top: 32px;
  margin-bottom: 5px;
  padding: 16px;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.3);
}

.now {
  border: solid 1px white;
  border-radius: 2px;
  background-color: white;
  padding: 16px;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.3);
}

.fisma-img, .now-img {
  float: left;
  margin-right: 24px;
  width: 35%;
  height: auto;

}

.fisma h3, .now h3 {
  text-align: left;
  padding-top: 24px;
  padding-left: 32px;
  font-size: 32px;
}

.fisma p, .now p {
  text-align: left;
  padding-left: 32px;
  font-size: 24px;
  line-height: 2px;
  align-self: center;
}

/* footer */

.footer {
  display: inline-flex;
  float: left;
  width: 100%;
  height: auto;
  background-color: white;
  border-top: solid 0.5px gray;
  font-size: 12px;
}

.footer-left {
  width: 50%;
  height: auto;
  align-self: center;
}

.footer-left p {
  text-align: left;
  padding-left: 24px;
}

.footer-right {
  width: 50%;
  height: auto;
  align-self: center;
  float: left;
  padding-left: 24px;
}


.footer-right a {
  display: inline-flex;
  list-style: none;
  float: right;
  padding-left: 5px;
  padding-right: 24px;
  text-align: right;
  text-decoration: none;
}

@media only screen and (max-width: 800px) {
  .footer {
    width: 100%;
    display: none;
  }
}
